*{
    margin: 0;
    padding: 0;
}

body {
    color: white;
    font-size: 24px;
}

.red {background-color: red;}
.green {background-color: green;}
.blue {background-color: blue;}
.orange{background-color: orange;}
.gold{background-color: gold;}
.purple{background-color: purple;}
.yellow{background-color: yellow;}

.container {
    border: 5px solid black;
    display: flex;
}

.container > * {
    flex-basis: 100px;
}

.red {
    order: 1;
}

.blue {
    order: 2;
}
